    body {

        font-family: "roboto", sans-serif;
        letter-spacing: 0.03em;

        background-color: #E5E5E5;
    }

    .container {
        width: 100%;
        max-width: 1200px;
        padding: 25px 15px;
    }

    .list {list-style: none;}
    .noline {text-decoration: none;}
/* ========================= ГОЛОВА ========================= */
.header-container {
    display: flex;
    align-items: center;
    
}

.navsite-list {
    display: flex;
}
    .link {
        margin-right: 50px;
    }

    .logo {
        margin-right: 93px;

        font-family: "raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;

        color: #ffffff;
    }

    .logo-web {        color: #2196F3    }
    .logo-studio {        color: #000000;    }

    /* a:hover span {color: #2196F3; } */

    .logo:hover, .logo:focus { color: #2196F3;        }
    .logo-studio:hover, .logo-studio:focus { color: #2196F3;    }

    .starwars {
        color: black;
    }

/* ==================== Кнопка ========================== */
.section {
    width: 200px;
    padding: 25px;

    background-color: lightgray;
    display: flex;
    justify-content: center;
}
.comunity {
    position: relative;
}
.comunity:hover .button-bottom {opacity: 1;}

    .button-top {
        padding: 15px;

        text-align: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.2;

        width: 100px;
        height: 50px;
        border: none;
        border-radius: 5px;
        background-color: lightgreen;
        
    }
    .button-bottom {
        position: absolute;
        top: 0;
        opacity: 0;

        padding: 15px;

        text-align: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.2;

        width: 100px;
        height: 50px;
        border: none;
        border-radius: 5px;
        background-color: tomato; 
        
        transition: opacity 1000ms;
    }

